.form-wrapper {
  padding: 20px 0;
  background-color: rgb(19, 77, 236);
}

.search-form {
  display: flex;
  width: 600px;
  margin: 0 auto;

}

.search-input {
  height: 40px;
  flex-grow: 1;
  font-size: 18px;
  padding-left: 15px;
  border: 1px solid #303030;
}

.search-btn,
.load-more {
  font-size: 14px;
  padding: 10px 20px;
  background-color: #24e952;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 250ms linear;
}

.load-more {
  display: block;
  margin: 0 auto;
}

.load-more.is-hidden {
  display: none;
}

.search-btn:hover,
.search-btn:focus,
.load-more:hover,
.load-more:focus {
  background-color: #27ae60;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  margin: 0;
}

.gallery__item {
  flex-basis: calc(25% - 20px);
  margin: 10px;
  background-color: #f3f3f3;
  padding: 10px;
  border-radius: 8px;
}

.gallery-img {
  border-radius: 8px;
  margin-bottom: 10px;
}

.info {
  display: flex;
  gap: 10px;
}

.info-item {
  text-align: center;
}

.load-more {
  margin-bottom: 20px;
}